.resume-simple
    h1 frank hadder 
        span resume

    section 
        h2.tech tech experience 
        p Listed in order of familiarity. Only select technologies are listed.
        ul.tech
            li 
                strong Languages/Markups
                | &mdash; C#, HTML/5, CSS/Less/SCSS/Stylus, JavaScript/CoffeeScript, MsSQL, Jade, Java, PHP
            li
                strong Libraries/Platforms
                | &mdash; jQuery, Asp.Net MVC, n2cms, Node.js, Backbone.js, Underscore.js

    section
        h2.experience work experience
        .job
            h3 senior software engineer
            .where 
                a(href="http://intermarkinteractive.com") intermark interactive
                |, birmingham, alabama
            .dates
                - var startDate = new Date(2008,06,01)
                - var years = Math.round((Math.abs((startDate.getTime() - (new Date()).getTime()) / (1000 * 60 * 60 * 24 * 365)) + 2) * 10) / 10
                | may 2005 &mdash; july 2007, july 2008 &mdash; present, &asymp;#{years} years 

            p.summary One of my favorite responsibilities is to train coworkers on new technologies, Asp.Net MVC, jQuery, and CSS (specifically for developers). I serve as project lead which includes making platform and architectural decisions for new projects, risk analysis and suggestions for new features, developing estimates, creating schedules and delivery dates, creating reusable components and examples for other projects, and extensive coding in all tiers of n-tier sites.

            ul.description
                li Lead a team of 8 developers to create and deploy a 1.6 million dollar website.
                li Developed high-end websites for multiple clients, both small and large, around the nation.
                li Programmed primarily in C# .NET with Microsoft Visual Studio 2005-2010.
                li Defined company wide development processes including Trello planning and switching to git and Github for source control and code review tools.
                li Involved with or lead all aspects of the project development process including requirements gathering, design, implementation, quality assurance, user-acceptance testing, deployment and maintenance.
                li Extensive work in T-SQL creating schemes, running queries, and developing scripts and stored procedures.
                li Created various data-access layers to encapsulate database access logic from business and UI/presentation logic in n-tier applications. This has included using LinqToSql, Entity Framework, and Dapper.Net technologies.
                li Director of New Technology – Researched new technology and how that new technology would best fit into Intermark projects. Trained developers and designers on the strengths and weaknesses of the technology and how to implement it. Additionally, trained the sales staff and project managers on how best to sell technology upgrades and when to implement them. Some training topics have included advanced CSS, CSS for developers, UI usability issues, and error handling and logging frameworks (e.g. ELMAH).
                li Researched and implemented multiple third party solutions and frameworks as best fit the project. This has included WordPress, Asp.Net MVC 1-3, DotNetNuke, n2cms (lightweight CMS framework), jQuery and other javascript frameworks, MvcMiniProfiler, Dapper.Net, and many UI controls and design patterns.
                li Installed and implemented tools to improve communication and documentation for all development teams. Most notably a mediawiki wiki installation that became a very popular source for documentation and links for all projects across multiple development teams.
                li Trained and mentored newly hired developers to escalate their impact on their assigned projects. 
                li In addition to .Net C#, completed minor projects in VB.Net, PHP, Java, and Ruby on Rails.
                li Worked in Photoshop to take a design and implement it in HTML. Not only slicing up the images but creating them in such a way to use them as CSS sprites where applicable.

            section.projects
                h4 projects (select projects only)
                p For one of the largest private automobile distributors, we created a high traffic consumer facing site to showcase vehicles and show the inventory of all the vehicles on dealer lots in the region. The site is load balanced over several machines and and implements heavy caching to increase performance. 
                p We created a site that interfaces with durable outdoor cameras that users use to monitor hunting locations and home security. The site stores all the automatically uploaded photographs and displays them with a web interface. The camera options can also be configured through the website. 
                p Created a system to convert videos uploaded to an FTP address to several HTML5 friendly formats and then play those videos using a custom HTML5 video player. The videos could also playback on mobile devices.

        .job
            h3 open source
            p.summary In my free time, I often enjoy playing with new technologies or trying to solve interesting problems. A lot of the projects end at the experimental stage but some are closer to production ready. 
            section.projects
                h4 projects
                p 
                    a(href="https://github.com/luckyllama/LuckyAssetManager") LuckyAssetManager 
                    | &mdash; A library for use in .Net projects to manage, combine, and minimize CSS and JavaScript files. It bundles files together with a configuration option and takes into account IE targeting and CSS media types. It is installed as a nuget package.
                p
                    a(href="https://github.com/luckyllama/LuckyPicross") LuckyPicross
                    | &mdash; A work-in-progress node.js application that plays an HTML5 version of the logic puzzle, Picross (also known as 
                    a(href="http://en.wikipedia.org/wiki/Nonogram") Nonogram
                    |). It uses the Express framework, CoffeeScript, Backbone.js, Less, HTML5, and CSS3.
                p
                    a(href="https://github.com/luckyllama/Lucky.Cassandra") Lucky.Cassandra
                    | &mdash; An implementation of the .Net ObjectCache object to save cached objects to a Cassandra database server.

        .job
            h3 research assistant
            .where
                a(href="http://uga.edu") university of georgia
                |, athens, georgia
            .dates
                 | august 2007 &mdash; may 2008, 9 months
            
            p.summary I choose not to finish my degree but while I attended the university I worked on a few fascinating projects and focused on a specific branch of AI research.

            ul.description 
                li Developed code to integrate into FlightGear, a flight simulator. The interface allowed external code to operate a plane in the OSS flight simulator to assist with various experiments.
                li Worked with POMDP and IPOMDP frameworks, an AI framework for modeling the environment so that an "agent" could mathematically choose the optimal course of action given any scenario.

        .job 
            h3 technical support
            .where 
                a(href="http://www.mcgriff.com/") mcgriff, seibels & williams insurance
                |, birmingham, alabama
            .dates
                | summers of 2003 &amp; 2004, 6 months

            ul.description
                li Answered phones and email from employees seeking computer assistance. Performed hardware and software installation, and computer imaging and setup.
    section
        h2.education education
        .school
            h3 university of georgia
            .where athens, georgia
            .dates
                | august 2007 &mdash; may 2008, 1 school year
            ul.description 
                li Doctoral Candidate 
                li GPA: 3.68

        .school
            h3 birmingham-southern college
            .where birmingham, alabama
            .dates
                | august 2002 &mdash; may 2006, 4 school years
            ul.description
                li BSc in Computer Science with a minor in Mathematics 
                li GPA: 3.48 &ndash; GPA in Major: 3.8
