.resume-simple
    h1 resume
    section
        h2.experience work experience
        .job
            h3 senior software engineer
            .employer 
                a(href="http://intermarkinteractive.com") intermark interactive
                |, birmingham, alabama
            .employed-dates
                | may 2005 &mdash; july 2007, july 2008 &mdash; present, &asymp;6 years

            p.summary One of my favorite responsibilities is to train coworkers on new technologies, Asp.Net MVC, jQuery and CSS (specifically for developers). I often serve as project lead which includes making platform and architectural decisions for new projects, risk analysis and suggestions for new features, developing quotes, time schedules and delivery dates, creating reusable components and examples for other projects, and coding in all tiers of a n-tier site.

            ul.description
                li Developed high-end websites for multiple clients, both small and large, around the nation.
                li Programmed primarily in C# .NET with Microsoft Visual Studio 2005-2010.
                li Worked as the lead developer for multiple projects as well as worked with a team of between two and six developers.
                li Involved with or lead all aspects of a project development process including requirements gathering, design, implementation, quality assurance, user-acceptance testing, deployment and maintenance.
                li Extensive work in T-SQL creating schemes, running queries, and developing scripts and stored procedures.
                li Creating data-access layers to encapsulate database access logic from business and UI/presentation logic in n-tier applications. This has included using LinqToSql and Entity Framework technologies.
                li Director of New Technology – Researched new technology and how that new technology would best fit into Intermark projects. Trained developers and designers on the strengths and weaknesses of the technology and how to implement it. Additionally, trained the sales staff and project managers on how best to sell technology upgrades and when to implement them. Some training topics have included advanced CSS, CSS for developers, UI usability issues, and error handling and logging frameworks (e.g. ELMAH).
                li Researched and implemented multiple third party solutions and frameworks as best fit the project. This has included WordPress, Asp.Net MVC 1-3, DotNetNuke, N2CMS (lightweight CMS framework), jQuery and other javascript frameworks, MvcMiniProfiler, and many UI controls and design patterns.
                li Installed and implemented tools to improve communication and documentation for all development teams. Most notably a mediawiki wiki installation that became a very popular source for documentation and links for all projects across multiple development teams.
                li Trained and mentored newly hired developers to escalate their impact on their assigned projects. In addition to .Net C#, completed minor projects in VB.Net, PHP, Java, and Ruby on Rails.
                li Worked in Photoshop to take a design and implement it in html. Not only slicing up the images but creating them in such a way to use them as CSS sprites where applicable.

        .job
            h3 reseach assistant
            .employer
                a(href="http://uga.edu") university of georgia
                |, athens, georgia
            .employed-dates
                 | august 2007 &mdash; may 2008, 9 months
            
            p.summary I choose not to finish my degree but while I attended the university I worked on a few fascinating projects and focused on a specific branch of AI research.

            ul.description 
                li Developed code to integrate into FlightGear, a flight simulator. The interface allowed external code to operate a plane in the OSS flight simulator to assist with various experiments.
                li Worked with POMDP and IPOMDP frameworks, an AI framework for modeling the environment so that an "agent" could mathematically choose the optimal course of action given any scenario.

        .job 
            h3 technical support
            .employer 
                a(href="http://www.mcgriff.com/") mcgriff, seibels & williams insurance
                |, birmingham, alabama
            .employed-dates
                | summers of 2003 &amp; 2004, 6 months

            ul.description
                li Answered phones and email from employees seeking computer assistance. Performed hardware and software installation, and computer imaging and setup.
    section
        h2.education education
        .school
            h3 university of georgia
            .location athens, georgia
            .studied-dates
                | august 2007 &mdash; may 2008, 1 school year
            ul.description 
                li Doctorial Candidate 
                li GPA: 3.68

        .school
            h3 birmingham-southern college
            .location birmingham, alabama
            .studied-dates
                | august 2002 &mdash; may 2006, 4 school years
            ul.description
                li BSc in Computer Science with a minor in Mathematics 
                li GPA: 3.48 &ndash; GPA in Major: 3.8
