
.sorting
  .visual

  .facts
    .x-axis 
    .x-axis 20%
    .x-axis 40%
    .x-axis 60%
    .x-axis 80%
    .total-steps Solved in <span></span> steps.
    .current-array

  .controls
    .btn-group.algorithm(data-toggle="buttons-radio")
      a.btn.active bubblesort
      a.btn heapsort
      a.btn insertionsort
      a.btn selectionsort
      a.btn quicksort

.about

!= js('sorting')