
.sorting
  .visual
    canvas
  .facts
    .x-axis 
    .x-axis 20%
    .x-axis 40%
    .x-axis 60%
    .x-axis 80%
    .total-steps Solved in <span></span> steps.

  .controls
    .btn-group.algorithm(data-toggle="buttons-radio")
      a.btn.active bubblesort
      a.btn heapsort
      a.btn insertionsort

.about

!= js('sorting')