.home
  h1 frank hadder
  .span10.summary
    :markdown
      I am a web developer in Birmingham Alabama. I specialize in front-end work (javascript, jQuery, html5, and css) 
      but have built many systems from the database up and have even created a custom web api to respond to low level devices. 
      I serve as project lead for my projects. This includes making platform and architectural decisions for new projects, risk analysis 
      and suggestions for new features, developing quotes, time schedules, and delivery dates, creating reusable components and 
      examples for other projects, and coding in all tiers of a n-tier site. I specialize in front end work (javascript/css/html). I have 
      a passion for learning everything new in technology and love to teach what I've learned to others.
  .span10
    h2 resume
    ul
      li: a(href="/resume/simple") simple
    h2 projects
    ul 
      li 
        a(href="/sorting") sorting
        |  &mdash; svg visualizations of various sorting algorithms.
