!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title frank hadder
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css('bootstrap.min.css')
  != css('app')
  != js('http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  
body
  .container
    != body

  footer
    .container
      .copyright.pull-left 
        - var currentYear = new Date().getFullYear()
        | Copyright &copy; #{currentYear} - frank hadder
        span 
          a(href="https://github.com/luckyllama/frankhadder.com") view code
      .links.pull-right
        .btn-group
          a(class='github btn',href='http://github.com/luckyllama'): span github
          a(class='stackoverflow btn',href='http://careers.stackoverflow.com/cv/employer/123'): span stackoverflow

  != js('app')
  != js('bootstrap.min.js')

| </html>