@import 'nib'

body 
    font 16px/22px 'Trebuchet MS',Tahoma,sans-serif
    border-top 12px solid #1FBF5F

p 
    font-size inherit
	
h1, h2, h3, h4, h5, h6
	text-rendering auto

.container
    margin-top 30px

.home
    .summary
        text-align justify
	
.resume-simple
    h1 
        font-size 56px
        font-weight normal
        line-height 1.5em
        span 
            font-size 44px
            color #888
    h2
        font-size 28px
        font-weight normal
        color #1FBF5F
    h3 
        font-size 24px
        font-weight normal
    .job, .school
        margin-bottom 24px

        .where, .dates
            line-height 2.2
        .where
            float left
        .dates
            float right
        p, ul
            clear both
            padding-top 6px
        .summary 
            padding 12px 18px
            background #eee
            text-align justify
            margin-top .5em
        .projects
            h4
                font-size 20px
                font-weight normal
                line-height 2.2em
            p
                padding-left 24px;

.sudoku
    .board
        border solid 1px #666
        display inline-block

        .row 
            border-bottom solid 1px #ccc
            height 70px
            margin 0
        .row.C, .row.F
            border-bottom solid 1px #666

        .col
            border-left solid 1px #ccc
            display inline-block
            height 100%
            width 70px
            vertical-align top

            .value
                font-size 60px
                text-align center
                line-height 70px
        .col-3, .col-6
            border-right solid 1px #666

        .candidates
            span 
                text-align center
                display inline-block
                width 33%
                height 33%
                font-size 12px
                color #999

footer 
    background #333
    color #ccc
    margin-top 12px
    font-size 14px

    .container
        padding 12px 0

    .copyright
        line-height 20px
        span
            margin-left 12px
    
    .links
        width 22%

        a
            height 20px
        span
            background no-repeat
            padding-left 20px
        .twitter span
            background-image url(/img/twitter.png)
        .github span
            background-image url(/img/github.png)
        .stackoverflow span
            background-image url(/img/stackoverflow.png)