@import 'nib'

.container
  margin-top 60px

.home
    .summary
        text-align justify

footer 
    margin-top 10px
    
    .copyright
        color #666
        line-height 20px
    
    .links
        width 30%

        a
            height 20px
        span
            background no-repeat
            padding-left 20px
        .twitter span
            background-image url(/img/twitter.png)
        .github span
            background-image url(/img/github.png)
        .stackoverflow span
            background-image url(/img/stackoverflow.png)